{% extends "pizzas/base.html" %}

{% block content %} 

<div style="background-image:url('https://www.stockvault.net/data/2020/12/20/281740/preview16.jpg');
    padding:5px;width:auto;height:5000px;border:1px solid black;background-repeat:no-repeat;">

<p style="color:white;font-family:'Times New Roman';font-size:60px;text-align:left;"> Matt's Pizzeria </p>
<p style="color:white;font-family:'Times New Roman';font-size:30px;text-align:left;"> Try our brand new Hawaiian Pizza! </p>"
</div>
{% endblock content %} 

